.parent-content--profile {
    display: flex;
    margin: 20px;
    padding: 5px 5px;
    border: 2px solid #493a3a;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    cursor: default;
    width: 700px;
}

.profile--button {
    flex: 1;
    border: 1px solid #493a3a;
    padding: 5px;
    border-radius: 10px;
    width: 30%;
    margin-right: 5px;
}

.profile--content {
    flex: 3;
    display: table;
    font-family: var(--font-family);
    color: var(--primary-color);
    border: 1px solid #493a3a;
    list-style-type: none;
    margin-bottom: 5px;
    border-radius: 10px;
}

