.parent-content--profile {
    display: grid;
    margin: 20px;
    padding: 5px 5px;
    position: relative;
    border: 2px solid #493a3a;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    cursor: default;
    max-width: 700px;
    gap: 5px;
}

.content-attribute--bonus{
    width: 700px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.content-attribute--button{
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    color: var(--primary-color);
    font-size: 12px;
    margin-top: 5px;
    align-items: center;
    gap: 5px;
    user-select: none;
}

.attribute-button--item{
    display: flex;
    border: 2px solid #493a3a;
    padding: 2px;
    border-radius: 5px;
    margin: 2px;
}

.content-profile--main {
    display: flex;
    gap: 2px;
}

.profile--button {
    flex: 1;
    border: 1px solid #493a3a;
    padding: 5px;
    border-radius: 10px;
    width: 30%;
}

.profile--content {
    flex: 3;
    display: table;
    font-family: var(--font-family);
    color: var(--primary-color);
    border: 1px solid #493a3a;
    list-style-type: none;
    border-radius: 10px;
}

.content-sort {
    display: flex;
    justify-content: center;
    gap: 2px;
    border-bottom: 1px solid #493a3a;
    margin-bottom: 3px;
}

.content-list--item {
    cursor: pointer;
    border-bottom: 1px dashed #574444;
}

.content-help--change {
    display: flex;
    justify-content: center;
    gap: 2px;
    border-bottom: 1px solid #493a3a;
    margin-bottom: 3px;
}

.content-inventory--special {
    margin-top: 10px;
}