.parent-content--main {
    margin: 20px;
    display: grid;
    padding: 20px 5px;
    width: 350px;
    border: 2px solid #493a3a;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    cursor: default;
}

.info-status--notification {
    padding-bottom: 5px;
}

.info-status--current {
    color: var(--primary-color);
}

.button--move {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button--row {
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    gap: 2px;
}

.button--items {
    display: grid;
}

.menu--list {
    font-family: var(--font-family);
    color: var(--primary-color);
}

.my-node-enter {
    opacity: 0;
}

.my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}

.my-node-exit {
    opacity: 1;
}

.my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}
