.user-state {
    display: grid;
    padding-top: 20px;
}

.map-item {
    margin:0 auto;
}

.hp-item {
    margin:0 auto;
}

.hp-item a{
    margin:0 auto;
}

.mana-item {
    margin:0 auto;
}

.mana-item a{
    margin:0 auto;
}

.position-item {
    margin:0 auto;
}

.position-item h1{
    margin:0 auto;
}