.user-state {
    display: grid;
    padding-top: 20px;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.button-item {
    padding: 20px;
}

.main-button {
    padding: 10px;
    display: flex;
    justify-content: center;
}