.parent-content--church {
    display: grid;
    margin: 20px;
    padding: 5px 5px;
    position: relative;
    border: 2px solid #493a3a;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    cursor: default;
    max-width: 700px;
    gap: 5px;
}

.content-church--main {
    display: flex;
    gap: 2px;
}

.church--button {
    flex: 1;
    border: 1px solid #493a3a;
    padding: 5px;
    border-radius: 10px;
    width: 30%;
}

.church--content {
    flex: 3;
    display: table;
    font-family: var(--font-family);
    color: var(--primary-color);
    border: 1px solid #493a3a;
    list-style-type: none;
    border-radius: 10px;
}