.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  border-bottom: 2px solid #493a3a;
}

.navbar a{
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  color: #8b6e6e;
  font-size: 38px;
  line-height: 17px;
  font-weight: bold;
}

.navbar-sign{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-sign .primary-btn
{
  background: var(--primary-btn);
}

.navbar-sign .secondary-btn
{
  background: transparent;
  border: 1px solid var(--primary-color);
  margin: 0 1rem;
  color: var(--primary-color);
}

.navbar-sign button{
  color: #fff;
  padding: 0.5rem 1rem;
  font-family: var(--font-family);
  font-weight: 500;
  border: none;
  font-size: 16px;
  border-radius: 10px;
}