.navbar-logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  color: #8b6e6e;
  font-size: 38px;
  line-height: 17px;
  font-weight: bold;
  height: 41px;
}

.navbar-item--right{
  display: flex;
}

.navbar-item--left{
  display: flex;
}

.navbar-menu{
  position: absolute;
  top: 80px;
  width: 120px;
  padding: 25px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  background-color: var(--color-bg);
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: 0.3s;
  z-index: 100;
}

.navbar-menu.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.navbar-menu--list{
  margin: 0;
  width: 100%;
  padding: 0;
  list-style-type: none;
  color: var(--primary-color);
}

.menu-list--item{
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-weight: bold;
  cursor: default;
}

.menu-list--item:nth-child(n + 2) {
  margin-top: 15px;
}
