.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 2rem 6rem;
  border-bottom: 2px solid #493a3a;
  cursor: default;
}

.navbar-item--left{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  width: 35%;
}

.navbar-menu{
  position: absolute;
  top: 80px;
  left: 58px;
  width: 138px;
  padding: 25px;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  background-color: var(--color-bg);
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: 0.3s;
}

.navbar-menu.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.navbar-menu--list{
  margin: 0;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.menu-list--item{
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  cursor: default;
}

.menu-list--item:nth-child(n + 2) {
  margin-top: 15px;
}

.navbar-logo{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  color: #8b6e6e;
  font-size: 38px;
  line-height: 17px;
  font-weight: bold;
}

.navbar-item--right{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  width: 35%;
}
