.parent-content--home {
    display: flex;
    flex-direction: row;
    width: 700px;
    margin: 20px;
    padding: 5px 5px;
    border: 2px solid #493a3a;
    border-radius: 10px;
    gap: 2px;
    font-weight: bold;
    cursor: default;
}

.home--button {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    border: 1px solid #493a3a;
    padding: 5px;
    border-radius: 10px;
}

.home--content {
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    font-family: var(--font-family);
    color: var(--primary-color);
    border: 1px solid #493a3a;
    list-style-type: none;
    border-radius: 10px;
}