body {
    background: var(--color-bg);
    scroll-behavior: smooth;
    font-family: var(--font-family);
}

.app {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #493a3a;
    cursor: default;
}

.main {
    display: flex;
    height: fit-content;
    width: fit-content;
    align-self: center;
}

a {
    text-decoration: none;
    color: inherit;
}

u {
    color: var(--info-color);
}

ul {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    margin:0 auto;
    padding: 0px;
}

li {
    list-style-type: none;
}
