@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --font-family: 'Poppins', sans-serif;
  --color-bg: #24252d;
  --primary-btn: linear-gradient(101.12deg, #685353 27.35%, #594848 99.99%, #493a3a 100%, #493a3a 100%);
  --primary-color: #816767;
  --secondary-color: #574444;
  --info-color-pos: #464c80;
  --info-color: #744444;
  --color-card: #2A2D3A;
}

@media (max-width:600px) {
  .navbar-item--right, .navbar-item--left{
      display:none;
  }
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #2A2D3A #24252d;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: var(--color-card);
    border-radius: 10px;
    border: 3px none #ffffff;
  }